name: CI Without Nx

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Build frontend
        run: |
          cd frontend
          npm install
          npm run build

      - name: Build backend
        run: |
          cd backend
          npm install
          npm run build

      - name: Build shared
        run: |
          cd shared
          npm install
          npm run build
